In [2]:
import pandas as pd

In [3]:
print('Hello world')

Hello world

In [4]:
df = pd.read_csv('data/2018_daily_complete_weather_data_0.csv')
df.head()

,row_id,district,mandal,location,odate,cumm_rainfall,temp_min,temp_max,humidity_min,humidity_max,wind_speed_min,wind_speed_max
0,0,Medchal-Malkajgiri,Uppal,Moulali,01/01/18,0.0,12.1,32.6,23.8,100.0,0.0,6.6
1,1,Medchal-Malkajgiri,Uppal,Moulali,02/01/18,0.0,11.6,32.6,23.2,100.0,0.0,4.7
2,2,Medchal-Malkajgiri,Uppal,Moulali,03/01/18,0.0,13.0,33.0,31.5,100.0,0.0,6.3
3,3,Medchal-Malkajgiri,Uppal,Moulali,04/01/18,0.0,9.7,31.7,27.4,100.0,0.0,5.2
4,4,Medchal-Malkajgiri,Uppal,Moulali,05/01/18,0.0,8.8,31.0,28.6,100.0,0.0,7.1

In [6]:
df.columns

Index(['row_id', 'district', 'mandal', 'location', 'odate', 'cumm_rainfall',
       'temp_min', 'temp_max', 'humidity_min', 'humidity_max',
       'wind_speed_min', 'wind_speed_max'],
      dtype='object')

In [8]:
import numpy as np
x = np.array([2,3,4,6])
y = np.array([2,4,6,8])
y_ = y * 1.229 + 0.143

In [5]:
from matplotlib import pyplot as plt # import libraries
import pandas as pd # import libraries
import netCDF4 # import libraries
fp='data\_20180102\INS3D_L3_CF_25km_Ver01_D20180102.nc' # your file name with the eventual path
nc = netCDF4.Dataset(fp) # reading the nc file and creating Dataset
# """ in this dataset each component will be 
# in the form nt,nz,ny,nx i.e. all the variables will be flipped. """
nc.variables.keys()

# """ imshow is a 2D plot function
# according to what I have said before this will plot the second
# iteration of the vertical slize with y = 0, one of the vertical
# boundaries of your model. """
# plt.show() # this shows the plot

dict_keys(['latitude', 'longitude', 'latitude_cloudcover', 'longitude_cloudcover', 'cloud_fraction_0000', 'cloud_cover_0000', 'cloud_fraction_0030', 'cloud_cover_0030', 'cloud_fraction_0100', 'cloud_cover_0100', 'cloud_fraction_0130', 'cloud_cover_0130', 'cloud_fraction_0200', 'cloud_cover_0200', 'cloud_fraction_0230', 'cloud_cover_0230', 'cloud_fraction_0300', 'cloud_cover_0300', 'cloud_fraction_0330', 'cloud_cover_0330', 'cloud_fraction_0400', 'cloud_cover_0400', 'cloud_fraction_0430', 'cloud_cover_0430', 'cloud_fraction_0500', 'cloud_cover_0500', 'cloud_fraction_0530', 'cloud_cover_0530', 'cloud_fraction_0600', 'cloud_cover_0600', 'cloud_fraction_0630', 'cloud_cover_0630', 'cloud_fraction_0700', 'cloud_cover_0700', 'cloud_fraction_0730', 'cloud_cover_0730', 'cloud_fraction_0800', 'cloud_cover_0800', 'cloud_fraction_0830', 'cloud_cover_0830', 'cloud_fraction_0900', 'cloud_cover_0900', 'cloud_fraction_0930', 'cloud_cover_0930', 'cloud_fraction_1000', 'cloud_cover_1000', 'cloud_fraction_1030', 'cloud_cover_1030', 'cloud_fraction_1100', 'cloud_cover_1100', 'cloud_fraction_1130', 'cloud_cover_1130', 'cloud_fraction_1200', 'cloud_cover_1200', 'cloud_fraction_1230', 'cloud_cover_1230', 'cloud_fraction_1300', 'cloud_cover_1300', 'cloud_fraction_1330', 'cloud_cover_1330', 'cloud_fraction_1400', 'cloud_cover_1400', 'cloud_fraction_1430', 'cloud_cover_1430', 'cloud_fraction_1500', 'cloud_cover_1500', 'cloud_fraction_1530', 'cloud_cover_1530', 'cloud_fraction_1600', 'cloud_cover_1600', 'cloud_fraction_1630', 'cloud_cover_1630', 'cloud_fraction_1700', 'cloud_cover_1700', 'cloud_fraction_1730', 'cloud_cover_1730', 'cloud_fraction_1800', 'cloud_cover_1800', 'cloud_fraction_1830', 'cloud_cover_1830', 'cloud_fraction_1900', 'cloud_cover_1900', 'cloud_fraction_1930', 'cloud_cover_1930', 'cloud_fraction_2000', 'cloud_cover_2000', 'cloud_fraction_2030', 'cloud_cover_2030', 'cloud_fraction_2100', 'cloud_cover_2100', 'cloud_fraction_2130', 'cloud_cover_2130', 'cloud_fraction_2200', 'cloud_cover_2200', 'cloud_fraction_2230', 'cloud_cover_2230', 'cloud_fraction_2300', 'cloud_cover_2300', 'cloud_fraction_2330', 'cloud_cover_2330'])

In [6]:
nc.variables['latitude'][:]

masked_array(data=[-10.  ,  -9.75,  -9.5 ,  -9.25,  -9.  ,  -8.75,  -8.5 ,
                    -8.25,  -8.  ,  -7.75,  -7.5 ,  -7.25,  -7.  ,  -6.75,
                    -6.5 ,  -6.25,  -6.  ,  -5.75,  -5.5 ,  -5.25,  -5.  ,
                    -4.75,  -4.5 ,  -4.25,  -4.  ,  -3.75,  -3.5 ,  -3.25,
                    -3.  ,  -2.75,  -2.5 ,  -2.25,  -2.  ,  -1.75,  -1.5 ,
                    -1.25,  -1.  ,  -0.75,  -0.5 ,  -0.25,   0.  ,   0.25,
                     0.5 ,   0.75,   1.  ,   1.25,   1.5 ,   1.75,   2.  ,
                     2.25,   2.5 ,   2.75,   3.  ,   3.25,   3.5 ,   3.75,
                     4.  ,   4.25,   4.5 ,   4.75,   5.  ,   5.25,   5.5 ,
                     5.75,   6.  ,   6.25,   6.5 ,   6.75,   7.  ,   7.25,
                     7.5 ,   7.75,   8.  ,   8.25,   8.5 ,   8.75,   9.  ,
                     9.25,   9.5 ,   9.75,  10.  ,  10.25,  10.5 ,  10.75,
                    11.  ,  11.25,  11.5 ,  11.75,  12.  ,  12.25,  12.5 ,
                    12.75,  13.  ,  13.25,  13.5 ,  13.75,  14.  ,  14.25,
                    14.5 ,  14.75,  15.  ,  15.25,  15.5 ,  15.75,  16.  ,
                    16.25,  16.5 ,  16.75,  17.  ,  17.25,  17.5 ,  17.75,
                    18.  ,  18.25,  18.5 ,  18.75,  19.  ,  19.25,  19.5 ,
                    19.75,  20.  ,  20.25,  20.5 ,  20.75,  21.  ,  21.25,
                    21.5 ,  21.75,  22.  ,  22.25,  22.5 ,  22.75,  23.  ,
                    23.25,  23.5 ,  23.75,  24.  ,  24.25,  24.5 ,  24.75,
                    25.  ,  25.25,  25.5 ,  25.75,  26.  ,  26.25,  26.5 ,
                    26.75,  27.  ,  27.25,  27.5 ,  27.75,  28.  ,  28.25,
                    28.5 ,  28.75,  29.  ,  29.25,  29.5 ,  29.75,  30.  ,
                    30.25,  30.5 ,  30.75,  31.  ,  31.25,  31.5 ,  31.75,
                    32.  ,  32.25,  32.5 ,  32.75,  33.  ,  33.25,  33.5 ,
                    33.75,  34.  ,  34.25,  34.5 ,  34.75,  35.  ,  35.25,
                    35.5 ,  35.75,  36.  ,  36.25,  36.5 ,  36.75,  37.  ,
                    37.25,  37.5 ,  37.75,  38.  ,  38.25,  38.5 ,  38.75,
                    39.  ,  39.25,  39.5 ,  39.75,  40.  ,  40.25,  40.5 ,
                    40.75,  41.  ,  41.25,  41.5 ,  41.75,  42.  ,  42.25,
                    42.5 ,  42.75,  43.  ,  43.25,  43.5 ,  43.75,  44.  ,
                    44.25,  44.5 ,  44.75,  45.  ,  45.25,  45.5 ],
             mask=False,
       fill_value=1e+20)